.container {
  width: 1140px;
  margin: 0 auto;
}

header {
  font-size: 80;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 30px;
}

.hidden {
  display: none;
}

header nav {
  display: flex;
  align-items: center;
}
header nav div {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

header nav div i {
  font-size: 10px;
}

header button {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 10px 30px;
  border: none;
}

main {
  padding-top: 50px;
}

h1,
h2 {
  font-size: 30px;
}

h1 span {
  color: red;
}

.menu {
  margin: 40px 0;
  display: flex;
}

.menu div {
  border: solid 2px black;
  flex: 1;
  padding: 10px 10px 0 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  height: 60px;
}

div i {
  margin-right: 10px;
}

.menu div:not(:last-child) {
  margin-right: 20px;
}

nav .hide-after {
  display: none;
}

.menu div:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.pictures {
  height: 430px;
  margin-bottom: 100px;
  display: flex;
}

.pictures .col-1 {
  flex: 1;
  height: 100%;
  margin-right: 3px;
}
.pictures .col-2 {
  height: 100%;
  width: 480px;
}

.pictures .col-1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.pictures .col-2 img {
  height: calc(50% - 1.5px);
  width: 100%;
  object-fit: cover;
}

.block1 {
  height: 300px;
  display: flex;
}

h2 {
  padding-bottom: 20px;
}

.colonne1 {
  height: 100%;
  width: 25%;
  background-color: violet;
  padding-right: 20px;
  box-sizing: border-box;
}

.colonne1 h3 {
  font-size: 20px;
  margin-bottom: 30px;
}

.colonne1 p {
  margin-bottom: 30px;
}

.colonne2 {
  width: 75%;
  background-color: thistle;
  border: solid black 3px;
  display: flex;
  overflow: hidden;
  overflow: scroll;
}

.colonne2 .col-carroussel {
  height: 70%;
  width: 30%;
  margin-right: 20px;
  border: black solid 2px;
  flex-shrink: 0;
  position: relative;
}

.colonne2 .col-carroussel:not(:last child) {
  margin-right: 20px;
}

.col-carroussel img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.circle {
  background-color: red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  margin: 20px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-carroussel h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.col-carroussel p {
  font-size: 15px;
}

@media (max-width: 1184px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  header span {
    display: none;
  }
  .menu {
    flex-wrap: wrap;
  }
  .menu div {
    box-sizing: border-box;
    flex: inherit;
    padding: 10px 10px 0 10px;
    height: 30px;
    width: calc((100% / 4) - (20px * 3 / 4));
  }
  .menu div:not(:last-child) {
    margin-right: 0px;
  }
  .menu div:not(:nth-child(4n)) {
    margin-right: 20px;
  }
  nav .hide-after {
    display: inherit;
  }
}

@media (max-width: 768px) {
  header nav div {
    display: none;
  }

  .hidden {
    display: inherit;
  }

  header button {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-around;
  }
}
